[Unit]
Description=Kiosko CamCan
After=graphical.target

[Service]
User=elnico1836
Environment="DISPLAY=:0"
WorkingDirectory=/home/elnico1836/cancamera/CameraWebServer
ExecStart=/home/elnico1836/miniforge3/envs/cancamera/bin/python app.py
Restart=always

[Install]
WantedBy=graphical.target