[Unit]
Description=Servidor Flask CamCan
After=network.target

[Service]
User=elnico1836
WorkingDirectory=/home/elnico1836/CamCan/CameraWebServer
ExecStart=/home/elnico1836/miniforge3/envs/cancamera/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target